.section-contacts {
  height: 100vh;
  padding-top: 100px;
  background-image: url("~/landing/img/bg-seven.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    padding: 20px;

    &:hover {
      border-radius: 100%;
      background-color: #907dfc;
      transform: scale(1.5);
      transition: 0.5s;
    }
  }
}
