.section-benefits {
  height: 100vh;
  background-image: url('~/landing/img/geo.png');
  background-repeat: no-repeat;

  &__title {
    //
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: 200px;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 250px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
  }

  &__icon {
    margin: 0 auto;
    width: 100px;
    height: 100px;
  }

  &__text {
    text-align: center;
    max-width: 200px;
    font-size: 16px;
    font-weight: 500;
  }
}
