$root-name: 'ui-dialog';

.#{$root-name} {
  &__overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
    background-color: rgb(0 0 0 / 70%);
    opacity: 0;
    position: fixed;
    cursor: default;
    transition: opacity 0.5s;

    &:target {
      visibility: visible;
      opacity: 1;
    }

    &:target+.#{$root-name}__wrapper {
      top: 20%;
      visibility: visible;
      opacity: 1;
    }
  }

  &__wrapper {
    top: 0;
    right: 0;
    left: 0;
    font-size: 14px;
    z-index: 10;
    display: block;
    visibility: hidden;
    margin: 0 auto;
    width: 90%;
    min-width: 320px;
    max-width: 600px;
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 6px rgb(0 0 0 / 80%);
    opacity: 0;
    transition: all ease 0.5s;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }

  &__form {
    margin: 0 auto;
    padding-bottom: 30px;
  }

  &__button-send {
    padding: 10px;
    border: 1px solid #907dfc;
    border-radius: 10px;
    width: fit-content;
    cursor: pointer;
  }

  &__button-close {
    position: absolute;
    top: -10px;
    right: -10px;padding: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    line-height: 20px;
    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    -ms-transition: all ease .8s;
    -o-transition: all ease .8s;
    transition: all ease .8s;

    &::before {
      color: rgba(255, 255, 255, 0.9);
      content: "X";
      text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
      font-size: 12px;
    }

    &:hover {
      background-color: rgba(252, 20, 0, 0.8);
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  &__input {
    margin: 30px 0;
    outline: none;
    width: 100%;
    max-width: 433px;
    border:none;
    border-bottom:1px solid #5F5D65;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    color: #5F5D65;
    border-radius: 0%;
  }
}
