.section-header {
  height: 100vh;
  padding-top: 20px;
  background-image: url("~/landing/img/bg-one.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    margin: 40px 0;
    text-align: center;
    padding-top: 20px;
    font-weight: 600;
    font-size: 38px;
    line-height: 50px;
    color: #000;
    letter-spacing: 3px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &__block {
    width: 35ch;
    overflow: hidden;
    border-right: 4px solid orange;
    white-space: nowrap;
    animation:
      flashing-border 0.75s step-end infinite,
      printed-text 5s steps(56);
  }

  &__text {
    &--large {
      font-size: 54px;
    }

    &--small {
      font-size: 38px;
    }
  }

  @keyframes flashing-border {
    0% {
      border-color: orange;
    }

    50% {
      border-color: transparent;
    }

    100% {
      border-color: orange;
    }
  }

  @keyframes printed-text {
    from {
      width: 0;
    }
  }
}
